header.header {
  background-color: #00BFFF;
  height: 50px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: row;
  
  align-items: center ;
  justify-content:space-between;
}

header.header  .title {
  font-size: 30px;
  margin-left: 30px;
}

.meuPerfil{
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header.header  .avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

