.timeline .post  {  
  padding: 15px;
  margin: 20px 15% 0 15%;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.25);
  /* border-bottom: 1px solid #cecece; */
}

.timeline .post .header{
  margin: 15px 0 15px 0;
  display: flex;  
} 

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px 0 15px;
  
}

.timeline .post .header .data{
  font-size: 12px;
  color: #00BFFF
}

.timeline .post .pergunta{ 
  margin: 0 10px 20px 10px;  
  padding-bottom: 20px;
  border-bottom: 1px solid #00BFFF;;
}

.timeline .post .resposta  {
   display: flex;
   margin-bottom: 10px;
  
}

.timeline .post .resposta .avatar-resposta {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px 0 15px;
}
.timeline .post .resposta .texto {
  display: flex;
  background: #87CEFA;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}








